
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<div class="content">
    <div class="wrap">
        <div class="about">
            <h3 style="text-align:center;"> Hoş Geldiniz!</h3>
            <img src="~/web/images/bolu.jpeg" alt="" />
            <p>

                Merhaba, ben Muammer Metin. İstanbul Gelişim Üniversitesi Siyaset Bilimi ve Uluslararası İlişkiler mezunu ve aynı zamanda özel bir kurumda idari işler yöneticisiyim. Hayatım boyunca farklı coğrafyaları keşfetme fırsatı buldum ve bu deneyimlerimle sizlere ilham vermek ve bilgi paylaşmak amacıyla bu internet sitesini oluşturdum.

                Gezmeyi ve yeni yerler keşfetmeyi bir tutkuya dönüştürdüm. Her seyahatim, farklı kültürleri, insanları ve manzaraları tanıma şansı sunuyor. Bu internet sitesi, seyahatlerimde edindiğim deneyimleri, hikayeleri ve rehberleri paylaşmak için bir platform olacak. Aynı zamanda, uluslararası ilişkiler ve siyaset bilimi alanındaki bilgilerimi sizinle paylaşarak tartışmalara katılma fırsatı sunacak.

                Bu sitede neler bulabilirsiniz?

            <p>  Seyahat günlükleri ve hikayeleri: Farklı ülkeleri ve şehirleri keşfederken yaşadığım deneyimleri paylaşacağım.  </p>
            <p> Gezi rehberleri: Gezginlere yardımcı olmak için seyahat rehberleri ve ipuçları sunacağım.</p>
            <p> Siyaset ve uluslararası ilişkilere dair yazılar: Dünya meseleleri hakkında fikir alışverişi yapacağımız makaleler ve analizler bulacaksınız.</p>
            <p>Bu site, gezginler, öğrenciler, meraklılar ve herkes için bir kaynak olmayı hedefliyor. Her bir ziyaretçinin katkısı, bu platformun daha zengin ve ilgi çekici hale gelmesine yardımcı olacaktır.</p>
            <p>
                Seyahat etmek ve dünyayı keşfetmek benim için bir yaşam tarzı. Sizleri bu heyecanı paylaşmaya ve dünya hakkında daha fazla şey öğrenmeye davet ediyorum. Lütfen sık sık ziyaret edin, sorular sormaktan veya deneyimlerinizi paylaşmaktan çekinmeyin. İnternet sitemizde sizleri ağırlamaktan mutluluk duyacağım.
            <p>
                Teşekkür ederim ve yolculuğumuza birlikte devam etmek için sabırsızlanıyorum!
            <p>
                Saygılarımla,
            <p>
                Muammer Metin
            </p>
        </div>
    </div>
</div>